.profile_wrapper {
  display: flex;
}
/* ------------------------ */
.profile_col_1 {
  /* background-color: rgba(172, 224, 235, 0.837); */
  width: 20%;
  padding: 1rem;
}

.profile_col_1_sub_1 {
  display: grid;
  place-items: center;
}

.profile_col_1_sub_1 img {
  width: 30%;
  border-radius: 100%;
  border-left: 5px solid grey;
  border-bottom: 5px solid grey;
}

.profile_col_1_sub_2 {
  text-align: center;
}

.profile_col_1_sub_3 {
  text-align: center;
  color: #6f6f6f;
  font-style: italic;
}

.profile_col_1_sub_4 {
  display: flex;
  justify-content: space-between;
}

.profile_col_1_sub_4 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4f4f4f;
  text-decoration: none;
}

.profile_col_1_sub_4 a:hover {
  text-decoration: underline;
}
/* ------------------------ */
.profile_col_2 {
  /* background-color: rgba(249, 179, 179, 0.844); */
  flex-grow: 1;
}

.profile_col_2_sub_1 {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #6f6f6f;
}

.profile_col_2_sub_1 form {
  flex-grow: 1;
}

.search_box {
  display: grid;
  padding: 0.5rem;
}

.search_box input {
  padding: 8px 12px;
  border: none;
  outline: none;
}

.number_of_contact_box {
  width: 20%;
  color: white;
}

.add_contact_box {
  width: 20%;
}
.add_contact_box a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add_contact_box a:hover {
  text-decoration: underline;
}
/* ------------------ */

.profile_col_2_sub_2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.profile_col_2_sub_2 a {
  text-decoration: none;
}

.profile_col_2_sub_2 .contact_box {
  display: grid;
}

.contact_box .contact_box_item:nth-child(1) {
  font-size: 1.5rem;
}
.contact_box .contact_box_item:nth-child(2) a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #4f4f4f;
}
.contact_box .contact_box_item:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #4f4f4f;
}
.contact_box .contact_box_item:nth-child(4) {
  display: flex;
  justify-content: space-between;
}

.contact_box .contact_box_action_grp:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact_box .contact_box_action_grp:nth-child(4) button {
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
}
.contact_box .contact_box_action_grp:nth-child(4) a:nth-child(1) {
  background-color: #6f6f6f;
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
}
.contact_box .contact_box_action_grp:nth-child(4) button:nth-child(2) {
  background-color: indianred;
}
