@media only screen and (min-width: 768px) {
  .main-footer-wrapper {
    /* border-top: 0.5px solid #6f6f6f; */
    padding: 2rem;
    color: #4f4f4f;
    display: grid;
    place-items: center;
    gap: 1rem;
  }

  .link-grp {
  }
}
